@charset "UFT-8";






*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}







:root{
    --cor-primaria:#79F0AA;
    --cor-secundaria:#191970;
    --cor-tercearia:#6B8E23;
    --cor-aux1: #f7e79c;
    --cor-aux2: #BA55D3;
    --cor-texto:white;
    --cor-lv:cyan;
}

body {
  background-color: var(--cor-aux1);
  color: var(--cor-aux2);
  font-family: Arial, sans-serif;
  min-height: 100vh;
  overflow-y: auto;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    transition: transform 0.3s ease;
    transform: translate( 5px);
    border-radius: 8000px;
}


.logo img {
    width: 200px;
    transition: 0.5s;
    border-radius: 80px;
    border: 5px solid;

}


.logo:hover{
   color: var(--cor-tercearia);
}



.menu-lista{
    background-color:var(--cor-tercearia);
    height: 35px;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition-duration: 0,5s;
}
.item-menu{
    text-decoration: none;
    color: var(--cor-secundaria);
    text-decoration-style: none;
    list-style: none;
    font-weight: 750;
    transition-duration: 0.5s;
    
}


.item-menu a:hover{
    color: var(--cor-lv)

}
.form-cadastro {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 20px auto;
  justify-content: center;
  text-align: center;
  z-index: 1000;
  background-color: #f7e79c;
  padding: 20px;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-radius: 20px;
  box-shadow: black 1px 2px 14px;
  gap: 10px;
}



.form-cadastro input{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid;
  background-color: var(--cor-aux1);
  font-family:Verdana, Geneva, Tahoma, sans-serif
  
}


.form-cadastro input[type="submit"]{
  background-color: var(--cor-aux1);
  transition: 1s;
}


.form-cadastro input[type="submit"]:hover{
background-color: var(--cor-tercearia);

}


.rodape {
  background-color: var(--cor-tercearia);
  color: var(--cor-texto);
  text-align: center;
  padding: 10px;
  font-size: 14px;
}

.form-cadastro select{
  background-color: var(--cor-aux1);
  padding: 8px;
  
}