@charset "UTF-8";




body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f3eded;
    margin: 0;
    padding: 20px;
}

.trailer-container {
    color: #c7b5ae;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
iframe {
    display: block;
    margin: 0 auto;
    border: 5px solid #443c39;
    border-radius: 10px;
    width: 80%;
    height: 450px;
    justify-content: center;

}
.logo {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.logo img {
    width: 80px;
    height: auto;
    border-radius: 20px;
    transition: transform 0.3s ease;
    border: #f3eded 2px solid;
    transition:  0.5s;
}

.logo img:hover {
    transform: rotate(15deg) scale(1.1);
    border-color: #6B8E23;
}

.sinopse {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    line-height: 1.6;
    color: #d3d3d3;
}

