@charset "UTF-8";

/* Estilo para o container das imagens */
.imgs {
    
    padding: 20px;
    overflow: hidden;
    margin: 20px;
}

.im {
    display: flex;
    justify-content: center;
    align-items: center;
}

.im img {
    width: 150px; /* largura fixa menor */
    height: 350px; /* altura fixa para manter proporção */
    object-fit: cover; /* mantém proporção da imagem */
    border-radius: 8px; /* cantos arredondados */
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    padding: auto;
}

/* efeito hover opcional */
.im img:hover {
    transform: scale(1.05);
}

.logoh1{
    color: black;
    gap: 20px;
    margin: 20px;
    flex-direction: column; 
    align-items: flex-start;
    text-align: center;
}


html, body {
    height: 100%;
    min-height: 100vh; 
    background: linear-gradient(50deg, #f7e79c 25%, #6B8E23 100%);
}



.filmes {
    padding: 20px;
    margin: 20px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   color: #333;

}

.filmes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 10px;
    margin: 12px 0 24px 0;
    transition: 0.5s;
    padding: 10px;

}

.filme-item {
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 1px rgba(0,0,0,0.08);
    transition: 0.5s;
    text-decoration: none;
       
}

.filme-item:hover {
transform: scale(1.1);
}


.filme-item img {
    width: 100%;
    height: auto;
    padding: 10px auto;
    object-fit: cover;
    gap: 20px;
       text-decoration: none;
}


.filme-nome {
    margin-top: 8px;
    font-weight: 600;
    color: #333;
    border-radius: 20px;
    transition: 0.5s;
    text-decoration: none;
    
}
.filme-nome:hover {
color: green;
background-color: #333;
  
}

.filme-item a {
    text-decoration: none;
  color: inherit;
}
.menu-lista {
  list-style: none;
  display: flex;               /* organiza os itens na horizontal */
  align-items: center;
  justify-content: flex-start; /* mantém os itens à esquerda */
  gap: 30px;
  margin: 0;
  padding: 10px;
  background-color: #6B8E23;
}

/* empurra o botão "Voltar" pro lado direito */
.voltar {
  margin-left: auto;
}

/* estilo visual do botão "Voltar" */
.voltar a {
  background-color: rgb(12, 238, 12);
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.voltar a:hover {
    background-color: #333;
    color: green;
}


